= form_for @poem do |f|
  = f.label :title
  = f.text_field :title
  = f.label :body, 'Poem'
  = f.text_area :body
  = f.submit 'Save'


.markdown-info
  You can use basic formatting in your poems. Pressing return will be interpreted as new line. Asterisks provide <em>*emphasis*</em> and <strong>**boldening**</strong>.
  %br
  %br To vary the size of text use hashes at the beginning of the line, like so:
  %br
  %h1 # One for biggest text
  %h2 ## Two for slightly smaller
  %h3 ### Three...
  %h4 #### And four
  %br ...and the smallest size is the regular text.
