<!DOCTYPE html>
<html>
<head>
  <title>Poetrybin</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<nav>
  <ul>
    <li><%= link_to 'See all poems', poems_path %></li>
    <li><%= link_to 'Random', random_path %></li>
    <li><%= link_to 'Add a poem', new_poem_path %></li>
    <% if logged_in? %>
      <li><%= button_to 'Logout', session_path, method: :delete %></li>
    <% end %>
  </ul>
</nav>

</body>
</html>
